<div class="auth-page" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlexLayout="row" class="auth-card" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="30px" fxFlex="50" class="syndic-info">
            <img class="loginPic" src="assets\magic\conifer7.png" />
        </div>

        <div fxFlex="50" fxFlex.md="100" fxLayout="column" fxLayoutAlign="space-between stretch" class="actual-form">
            <div class="form" fxLayout="column" fxLayoutGap="2">
                <div style="width: 100%;" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <mat-card class="mat-elevation-z4">
                        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
                            <img class="page-gif" src="assets\magic\witch.png">
                        </div>
                        <mat-card-content>
                            <div fxLayout="column" fxLayoutGap="5px">
                                <span class="salutation"  fxLayoutAlign="center center" fxLayoutGap="20px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Sign Up
                                </span>
                                <p class="text-center p1">
                                    Ready to cast your spell?
                                </p>
                            </div>
                            <form [formGroup]="registerForm" fxLayout="column" class="form-body" fxLayoutGap="15px">
                                <div class="form-group">
                                    <mat-label for="username">First Name</mat-label>
                                    <input type="text" formControlName="firstName" class="form-control" />
                                    <div class="invalid-feedback">
                                        <div>Username is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <mat-label for="username">Last Name</mat-label>
                                    <input type="text" formControlName="lastName" class="form-control" />
                                    <div class="invalid-feedback">
                                        <div>Username is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <mat-label for="password">Password</mat-label>
                                    <input type="password" formControlName="password" class="form-control" />
                                    <div class="invalid-feedback">
                                        <div>Password is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <mat-label for="password">Confirm Password</mat-label>
                                    <input type="password" formControlName="confirmPassword" class="form-control" />
                                    <div class="invalid-feedback">
                                        <div>Password is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <mat-label for="email">Email</mat-label>
                                    <input type="email" formControlName="email" class="form-control" />
                                    <div class="invalid-feedback">
                                        <div>Email is required</div>
                                    </div>
                                </div>
                            </form>


                            <div class="login-btns" fxLayout="column">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button">Login</button>
                                    <button class="btn btn-secondary" type="button"><span>
                                            <img class="google-btn"
                                                src="https://img.icons8.com/color/48/000000/google-logo.png" />
                                        </span>
                                        &nbsp;
                                        <span class="btn-secondary">
                                            Login with Google
                                        </span></button>
                                </div>
                            </div>

                            <hr>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>