<ng-container>
  <div class="page-content" id="grad3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <span class="title">Wizardly Persona Test</span>
    <div class="wave-section">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <section class="card-section" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="75px">
      <mat-card fxLayoutAlign="center center">
        <img src="/assets/landing-page/girl.svg" />
      </mat-card>

      <mat-card fxLayoutAlign="center center">
        <img src="/assets/landing-page/coven.svg" />
      </mat-card>

      <mat-card fxLayoutAlign="center center">
        <img src="/assets/landing-page/cat.svg" />
      </mat-card>
    </section>
  </div>
</ng-container>